.selectotion{
    margin-left: 10px;
    margin-bottom: 10px;
}
.description{
    height: 150px;
    width: 80%;
    border-radius: 1px;
    margin-left: 10px;
}
.problem{
    margin-left: 10px;
    margin-bottom: 10px;
}